{% extends "base/base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Hello, World!</h1>
<p>Welcome to this new extension of <a href="https://astronautmarkus.dev" target="_blank">AstronautMarkusDev</a>.
</p>

<p>
    This section is dedicated especially to my YouTube channel, where I revive old PCs with Linux, occasionally
    program, and do other technology-related activities. Here you will find videos, mini blogs, and more content
    related to my technological adventures.
</p>

<p>
    I recommend visiting the <a href="{{ url_for('home.youtube_channel')}}">Videos / YouTube</a> section to see my latest videos and projects, or directly
    visit my <a href="https://www.youtube.com/@AstronautMarkusDev" target="_blank">YouTube channel</a> to subscribe and
    not miss any updates.
</p>

<img src="{{ url_for('static', filename='img/astronautmarkus-tux.png')}}" alt="AstronautMarkusDev Tux"
    class="astronautmarkus-tux">

<p>
    This is my avatar for the channel, a Tux (the Linux mascot) wearing a Punk red Mohawk, and so.. AstronautMarkusDev!
    I hope you like it as much as I do, and it represents the fun and rebellious spirit of my content.
</p>

{% endblock %}