{% extends "base/base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<h1>{% if current_lang == 'es' %}Error 502 - Puerta de Enlace Incorrecta{% else %}Error 502 - Bad Gateway{% endif %}</h1>

<p>{% if current_lang == 'es' %}El servidor recibió una respuesta inválida de un servicio externo.
    {% else %}The server received an invalid response from an upstream service.{% endif %}
</p>

<p>
    {% if current_lang == 'es' %}
    Puedes volver a la <a href="{{ url_for('home.index') }}">página principal</a>.
    {% else %}
    You can return to the <a href="{{ url_for('home.index') }}">home page</a>.
    {% endif %}
</p>
{% endblock %}